
.container-fluid{
    width: 100%;
    max-height: 100vh;
    background-color: coral;
}

main{
    height: calc(100vh - 80px);
    background-color:darkorange;;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-lg{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

main .sidebar{
    background-color: rgb(196, 182, 182);
    padding: 20px 0 0 15px;
}

ul{
    list-style: none;
}


.logo{
    display: flex;
    line-height: 50px;
    padding-bottom: 20px;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-image: url(../img/logo.svg);
  background-size: cover;
}

.menu{
    padding-bottom: 20px;
    line-height: 30px;
}

.playlist li{
    line-height: 30px;
}


/* -------------------------------------------------------- */
.content{
    background-color: #141922;
    height: 100%;
    overflow-y: scroll
    
}
/* -----------------------*/
.topbar{
    text-align: right;
    padding: 20px 20px;
    position: fixed;
    height: 80px;
    width: calc(100% - 266.67px);
    flex-basis: 100%;
    background-color: rgb(45, 45, 180, 0.9);
}

.topbar button{
   padding: 8px 20px;
   border-radius: 15px;
}
/* ---------------------- */


.page nav{
    margin: 90px auto;
    border: 1px solid white;
}

.page nav ul{
    display: flex;
    flex-grow: 1;
    list-style: none;
    color: white;
    justify-content: center;
}

 nav ul li{
 margin-left: 30px;
}

.albums{
    margin: 0 auto;
    width: 1250px;
    height: 400vh;
    border: 2px solid white;
}



/* ------------------------------------------------------------ */
footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

footer ul{
    display: flex;
    list-style: none;
    align-items: center;
}


/* .example{
    margin: 0 auto;
    width: 300px;
    height: 200vh;
} */